<div class="page-header">
  <h1>
    Call shifts
    <a href="/call_shifts/new" class="btn btn-lg btn-success">New Call shift</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Site</th>
        <th>Professional</th>
        <th>Actions</th>
      </tr>

      <% @call_shifts.each do |call_shift| %>
      <tr>
        <td><%= call_shift.site_id %></td>
        <td><%= call_shift.professional_id %></td>
        <td>
          <a href="/call_shifts/<%= call_shift.id %>" class="btn btn-primary">Show</a>
          <a href="/call_shifts/<%= call_shift.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_call_shift/<%= call_shift.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
